/* CONFIGURACOES GERAIS DA PAGINA */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font-family: 'Orbitron', sans-serif;
}

button {
    margin-top: 2vh;
    font-size: 2em;
    height: 4vh;
    width: auto;
    background: #F0A90A;
    box-shadow: 0.2em 0.2em 0 #EF0000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SCROLL VERTICAL */

.scroll {
    overflow:scroll;
    height:60vh;
}

/* TITULO */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16vh;
    position: relative;
}

.title h1 {
    position: absolute;
    top: 0;
    font-size: 10em;
    color: #EF0000;
    text-shadow: 0.05em 0.05em 0px #F0A90A;
}

.title h3 {
    position: absolute;
    top: 3vh;
    font-size: 2em;
    color: #FBFAF5;
}

/* BOTAO INICIAR JOGO */
.start-game-buttom {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}

.start-game-buttom {
    margin-bottom: 2vh;
}

/** DISPLAY DOS PERSONAGENS*/
#charactersContainer {
    position: relative;
    padding-top: 0;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    color: #FBFAF5;
    width: 46%;
    margin: 1rem;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .4);
    overflow: hidden;
    transition: all .2s linear;
    border-radius: 5px;
}

.card h2 {
    font-size: 2em;
    margin-left: 3vw;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(240, 169, 10, .3);
    transform: translate3D(0, -1em, 0);
}

/* BOTAO CARREGAR MAIS PERSONAGENS */

.next-page-buttom {
    display: flex;
    justify-content: center;
}
